
{% block body %}
    <h1>acteurs : </h1>
    {% for actor in actors %}
        <div>
            <h2>{{ loop.index }} / {{ actor.name }} </h2>
       
            
    <a href="{{ path('actor_show', {actorName: actor.name}) }}"</a>

        </div>
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

    