{% extends 'base.html.twig' %}
{% block body %}
    <h1>acteurs  </h1>
        <div>
            <h2> {{ actor.name }} </h2>
        </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

    