@import "~bootstrap/scss/bootstrap";

:root{
    --primary: rgb(43, 0, 107);
}
body {
    background-color: var(--primary);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:0;
    padding-top: 0;
}
.container-fluid{
    background-color:rgb(7, 15, 7);
    padding: 0;
    margin: 0;
}
