 <nav class="navbar navbar-light bg-light">     
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <a href="{{ path('program_index') }}">series</a>
    <img src="{{asset("build/images/android-icon-192x192.png")}}"  width= 20px  height=20px>
  </div>
</nav>
